html,
body,
header,
#section-intro {
    height: 100%;
}

#section-intro {
    background: url("../img/img1.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}

.top-nav-collapse {
    background-color: grey;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #636363;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: rgba(192, 192, 192, 0.404);
    }
  }


a.navbar-brand{
font-family: 'Iceberg', sans-serif;
font-size: 5vw;
}
a.navbar-brand > span{
  font-size: 2vw;
  position: fixed;
}

h1, h2, h4, h6, p{
  font-family: 'Encode Sans Condensed', sans-serif;
}

a.navbar-brand > h6{
  letter-spacing: 3px;
  font-family: 'Iceberg', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 1.5vw;
}

ul.navbar-nav{
  font-family: 'Encode Sans Condensed', sans-serif;
}
h3{
  font-family: 'Roboto', sans-serif;
}

main{
  background: azure;
  
}


@media screen and (max-width: 600px) {
  #section-intro > h2 {
      margin-top:50px;
  }
}

@media screen and (max-width: 400px) {
  #section-intro > h2 {
      margin-top:200px;
  }
}
.sup{
  vertical-align: super !important;

}